.header {
  padding: 1.5rem 0;
  font-size: .875rem;

  .header-content {
    justify-content: space-between;
    .brand {
      padding: 0 15px;
      .logo {

      }
    }

    .container_top-nav {
      display: flex;
      align-items: center;
      padding: 0 15px;
      .top-nav {
        margin: 0;
        a {
          padding: .5rem;
          color: $body-color;
          text-decoration: none;
          @include transition($btn-transition);

          &.active,
          &:hover{
            color: $primary;
          }
        }
      }
    }
  }

}
